/** Home Page **/
body {
	padding-top: 0;
	padding-bottom: 40px;
	/*background-color: rgba(51, 51, 51, 0.27);*/
	background-image: url("../img/background.png");
}
@media (min-width: 979px){
body {
	padding-top: 60px;
}
}
/** Login Page **/
#login {
	padding-top: 180px;
	padding-bottom: 40px;
}
#login .form-signin {
	max-width: 300px;
	padding: 5px 29px 29px;
	margin: 0 auto 20px;
	background-color: rgba(245, 245, 245, 0.29);
	/*border: 1px solid #e5e5e5;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 0 2px 2px green;
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
	margin-bottom: 10px;
	color: rgb(16, 104, 16);
}
/*#login .form-signin input[type="text"],
#login .form-signin input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 20px;
}*/

.login-form-shadow{
	box-shadow: 0 0 10px 10px black;
}
/** signup Page **/
#signup {
	padding-top: 110px;
	padding-bottom: 40px;
}
#signup .form-signup {
	max-width: 350px;
	padding: 5px 29px 29px;
	margin: 0 auto 20px;
	background-color: rgba(245, 245, 245, 0.29);
	/*border: 1px solid #e5e5e5;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 0 2px 2px green;
}
#signup .form-signup .form-signup-heading,
#signup .form-signup .checkbox {
	margin-bottom: 10px;
	color: rgb(16, 104, 16); 
}
/*#signup .form-signup input[type="text"],
#signup .form-signup input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 20px;
}*/

.signup-form-shadow{
	box-shadow: 0 0 10px 10px black;
}
hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	/*border-color: #EEEEEE -moz-use-text-color #FFFFFF;*/
	border-style: solid none;
	border-width: 2px 0;
	border-top: 0px solid;
	/*margin: 18px 0;*/
	margin-top: 0;
	margin-bottom: 25px;
	color: rgb(16, 104, 16);

}

#header-container hr{
	margin-left: -14px;
}

.signup-signin-error{
	color:red;
	font-size:12px;
	margin-bottom: -15px;
}

#signup .alert-error{
	color:red;
	margin-top: -20px;
	margin-bottom: -50px;
}

#signup .alert-success{
	color:green;
	margin-top: 15px;
	margin-bottom: 15px;

}

#login .alert-error{
	color:red;
	margin-top: -20px;
	margin-bottom: -50px;
}

.userName{
	color: #FFF;
}

#layoutbtn .btn-sm{
	margin: 1px;
}

.form-signup {
	max-width: 350px;
	padding: 5px 29px 29px;
	margin: 0 auto 20px;
	background-color: rgba(245, 245, 245, 0.29);
	/*border: 1px solid #e5e5e5;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 0 2px 2px green;
}

#editProfile{
	background-color: #FFF;
	margin-top: 20px;
	margin-left: 15px;
}

#editProfile .form-edit-profile h2 {
	margin-bottom: 10px;
	color:rgb(16, 104, 16);
}

#editProfile .alert-error{
	color:red;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color:rgb(250, 247, 247);
}

#changePassword{
	background-color: #FFF;
	margin-top: 20px;
	margin-left: 15px;
}

#changePassword .form-change-password h2 {
	margin-bottom: 10px;
	color:rgb(16, 104, 16);
}

#changePassword .form-edit-profile h2 {
	margin-bottom: 10px;
	color:rgb(16, 104, 16);
}

#changePassword .alert-error{
	color:red;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color:rgb(250, 247, 247);
}
#changePassword .alert-success{
	color:green;
	margin-top: 15px;
	margin-bottom: 15px;

}
/*Main Page*/
/* CSS used here will be applied after bootstrap.css */

.productbox {
    position: relative;
 border: 1px solid #ddd;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out; 
}
.caption {
	padding:10px;
	background-color:rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 40%;
    overflow: hidden;
  	font-size: 11px;
  color: #FFF;

}
.finalprice {
  font-size:15px;
    color: #AAFCAE;
}
h5 {
  margin-top: 0px;
  color: white;
  max-height: 30px;
  overflow: hidden;
}
.img-responsive img{
	width: 100%;    
}
.container {
	width: 100%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 5px;
}
.btn-block {
margin-top: 5px;
}
.saleoffrate{
position: absolute;
    top:10px;
    left: 10px;
padding-top: 13px;
text-align:center;
background-color: rgba(76, 174, 76,0.8);
color: #FFFFFF;
border-radius: 50%;
height: 50px;
width: 50px;
line-height: 13px;
}
@media (min-width: 384px) and (max-width: 768px) {
  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }  
}

/*productlist Page*/
#product-list h1{
	color:#FFF;
}

.productlisttitle h1{
	color:#FFF;
}